﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="FrontEnd.aspx.cs" Inherits="Assignment2_Neyezhsal.FrontEnd" %>
<asp:Content ID="Content1" ContentPlaceHolderID="maincss" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="sqlContent" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="cssContent" runat="server">
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="jsContent" runat="server">
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="Sidebar" runat="server">
</asp:Content>
