﻿
body {
    padding-top: 5px;
    padding-bottom:10px;
    background-color: #F4EBEE; 
  
}
.banner {
    height:200px;
    background-image: url('../Resources/banner.jpg');
}

.bodyContent {
    padding-left:10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

}


/*menu*/
.menu  {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    margin: 0 0 10px;
    padding: 0;
    line-height: 45px;
    color:white;
   
}
.menu ul li  {
    display:inline-block;
    width:200px;
    height:50px;
    font-size:24px;
    font-weight:bold;
    padding: 8px 20px;
   
    
}
.menu a:hover{
    color:blue;
}
.header {
    height: 50px;
    background-color: #D35039;
}
.homeTitle {
    padding-top:10px;
    color: #903930;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}
.subTitle {
    margin-top:10px;
    color: #1F2242;
    font-size: 24px;
}
.text-content {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 10px;
    margin-left: 5px;
    margin-right:5px;
    color: #1F2242;
}
.sideTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size:24px;
    padding-top:20px;
}
.sideSubTitle {
    color: #523FBA;
    font-size: 18px;
}
.sideSubTitle:hover {
        color: #523FBA;
    }
.css-link {
    width: 150px;
    height: 100px;
    padding-top:10px;
    padding-right: 5px;
    float:right;
}
.js-link {
    width: 150px;
    height: 100px;
    padding-top:10px;
    padding-left: 5px;
    float:right;

}
.sql-link {
    width: 150px;
    height: 100px;
    padding-top:10px;
    padding-left: 5px;
    float:right;
}
.list a{
    padding-left:15px;
    text-decoration:none;
}


.select {
    width: 500px;
    height: 400px;
}
.sql-image {
    margin-top:20px;
    width: 300px;
    height: 300px;
    float:right;
}
.layout {
    width: 300px;
    height: 200px;
    float:left;
    margin-right:5px;
}
.css-example,.js-example, .sql-example{
    margin-bottom:20px;
    background-color:gainsboro;
    width:650px;
   
}
.JS_image {
    width: 200px;
    height: 200px;
    float:right;
    margin-bottom:10px;
}

.order-by{
    margin-top:20px;
    margin-bottom:20px;
    border:1px solid blue;

}
.programs {
    width: 600px;
    height: 300px;
}
.cubes{
    width:800px;
    height:400px;
}
#footer {
    clear: both;
    background-color: #D35039;
    position:center;
    height: 40px;
    padding: 1em;
}
.form-title {
    color: #983727;
    height: 30px;
    padding-left: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    background-color:#F4EBEE;
    height: 100px;
    margin-bottom:10px;
}
.email {
    margin-left: 10px;
    width: 250px;
}

.label-email {
    margin-left: 10px;
}
.subscribe-button {
    background-color: #8BB29C;
    color: #983727;
    margin-left: 10px;
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 0 4px 0 0;
}
